.styled-div {
    width: 20%;
    height: 20%;
    background-color: lightpink;
    
    position: absolute;
}

.styled-div:hover {
    cursor: pointer;
}

#div-1 {
    left: 10%;
}

#div-2 {
    left: 50%;
}