<!DOCTYPE html>
<html>
    <head>
        <meta name="Annalisa Folsom" content="" />
        <meta name="Nicholas Lucky" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../static/styles/style.css">
        <title>Test Title</title>
    </head>
    <body>
        <h1>A Mandarin Duck was here 👀🦆</h1>
        
        <div class="styled-div" id="div-1">
            <p>This should be a styled div</p>
            <p>Clicking this should change the div's color to lightblue</p>
        </div>

        <div class="styled-div" id="div-2">
            <p>This should be a styled div</p>
            <p>Clicking this should change the div's color to a random-ish color</p>
        </div>

        <script src="../static/scripts/script.js"></script>
    </body>
</html>